*
  position relative
  box-sizing border-box
  font-family monospace
  font-size 10px
  color #c80

html, body, #Root
  min-height 100%
  min-width 100%
  margin 0
  padding 0

body
  background #000

.Workspace
  padding-left 16em
  &Item
    padding 0.5em
    margin-bottom 1em
    white-space pre
    overflow hidden

.Timeline
  position fixed
  top 0
  bottom 0
  left 0
  width 16em
  background #060504
  user-select none
  padding 0.25em 0
  display flex
  flex-flow column

  &Item, .Time
    padding 0.25em 0.5em
    line-height 1
    flex-shrink 0
    &:hover
      background #201918
      cursor pointer
    &Command
      font-weight bold

  .Time
    font-weight bold

.FlexGrow
  flex-grow 1

.Prompt
  position fixed
  bottom 0
  left 16em
  right 0
  height 1.66em
  background #060504
  display flex
  align-items center

  input
    background none
    border none
    margin 0
    padding 0.25em 0
    line-height 1em
    height 1.5em
    flex-grow 1

    &:focus
      outline none
